/*
 * Terius, 2024
 */

:root {
	--menu-height: 70px;
	--menu-font-color: #616161e3;
	--default-font-color: #424242;
	--hr-color: #e2e2e24f;
	--table-border: rgba(198, 198, 198, 0.61);
	--default-font-size: 18px;
	--default-font-family: Helvetica Neue;
	--default-caption-font-size: 15px;
}

body {
	font-family: var(--default-font-family);
	font-size: var(--default-font-size);
	color: var(--default-font-color);
	margin: 0;
	padding-left: 50px;
	padding-right: 50px;
}

.landing-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	min-height: 100dvh;
	text-align: center;
}

.logo {
	width: 100%;
	max-width: 400px;
	display: inline-block;
}

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.menu {
	font-size: 20px;
	font-weight: 270;
	letter-spacing: 2px;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.12);
	box-shadow: 0px 1px 10px 1px rgb(127 127 127 / 10%);
	backdrop-filter: blur(15.5px);
	-webkit-backdrop-filter: blur(15.5px);
	min-height: var(--menu-height);
	color: var(--menu-font-color);
}

.menu a {
	color: inherit;
	text-decoration: none;
	margin: 0 10px;
	text-transform: capitalize;
}

.menu ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	column-gap: 30px;
}

.menu li img {
	width: 20px;
}

.section {
	padding-top: calc(var(--menu-height) + 20px);
	padding-bottom: 10px;
	font-size: 32px;
	font-weight: 400;
}

.legend {
	display: flex;
	column-gap: 35px;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 18px;
}

.legend-item {
	display: flex;
	align-items: center;
	font-weight: 300;
	column-gap: 5px;
}

table {
	border-collapse: collapse;
	width: fit-content;
	max-width: 70%;
	overflow-x: auto;
	font-variant-numeric: lining-nums tabular-nums;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

tbody {
	margin-top: 0.5em;
	border-top: 1px solid var(--table-border);
	border-bottom: 1px solid var(--table-border);
}

th {
	border-top: 2px solid var(--table-border);
	padding: 0.25em 0.5em 0.25em 0.5em;
	font-weight: 400;
	letter-spacing: 1px;
}

td {
	padding: 0.125em 0.5em 0.25em 0.5em;
	text-align: center;
	font-weight: 300;
	font-size: 18px;
}

check {
	font-size: 25px;
	color: var(--default-font-color);
}

hr {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: calc(var(--menu-height) + 20px);
	color: var(--hr-color);
}

.quotation {
	font-style: italic;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: Didot;
	font-size: 22px;
	border-left: #3196cd;
	border-left-style: solid;
	padding-left: 10px;
}

.statement {
	background: -webkit-linear-gradient(rgb(76, 148, 200), rgb(95, 206, 80));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 25px;
	font-style: oblique;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

footer {
	font-size: 18px;
	bottom: 0;
	margin-top: 100px;
	margin-bottom: 15px;
	text-align: center;
	font-family: Times Times New Roman;
	font-style: italic;
}

.subsection-header {
	font-size: 28px;
	font-weight: 450;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 50px;
	margin-bottom: 30px;
}

.card {
	display: flex;
	column-gap: 50px;
	justify-content: center;
	align-items: center;
}

.card-desc h2 {
	color: rgb(146, 146, 146);
	margin-top: 0;
	margin-bottom: 10px;
}

.card-desc a {
	color: inherit;
	text-decoration: none;
	margin: 0 10px;
}

.card img {
	border-radius: 500px;
	width: 250px;
}

.email {
	font-style: italic;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-size: 18px;
}

.email img {
	width: 15px;
	border-radius: 0px;
}

.link {
	display: flex;
	align-items: center;
	column-gap: 10px;
	cursor: pointer;
}

.external-links {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 50px;
	margin-bottom: 20px;
	font-family: var(--default-font-family);
	font-size: var(--default-font-size);
}

.external-links a {
	color: inherit;
	text-decoration: none;
}

.chart {
	display: flex;
	justify-content: center;
	align-items: center;
}

.chart img {
	max-width: 900px;
	width: 50%;
	border-style: solid;
	border-radius: 20px;
	border-color: #f57d924d;
	border-width: 1px;
}

.product-section {
	margin-top: 50px;
}

.product-subsection {
	margin-top: 50px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: 200;
	font-size: 25px;
}

.product-title {
	display: flex;
	align-items: center;
	column-gap: 20px;
	justify-content: center;
}

.product-title span {
	font-size: 30px;
	font-weight: 300;
}

.product-badge {
	width: 40px;
}

.schema-container {
	display: flex;
	justify-content: space-evenly;
	align-items: end;
	column-gap: 70px;
}

.schema-container hr {
	display: none;
}

.schema {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.schema img {
	max-width: 300px;
	margin-bottom: 30px;
}

@media only screen and (max-width: 780px) {
	body {
		padding-left: 5px;
		padding-right: 5px;
	}

	.menu {
		font-size: 22px;
		font-weight: 250;
		letter-spacing: 2px;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		justify-content: center;
		align-items: center;
		position: unset;
		background: unset;
		box-shadow: unset;
		margin-top: 10px;
		text-align: center;
		flex-direction: column;
		min-height: 100vh;
		min-height: 100dvh;
	}

	.landing-section {
		min-height: unset;
		min-height: unset;
		margin-bottom: 50px;
	}

	.logo {
		max-width: 200px;
	}

	.menu ul {
		margin: 0;
		padding: 0;
		overflow: hidden;
		display: block;
	}

	.section {
		padding-top: 20px;
		text-align: center;
	}

	.chart img {
		width: 95%;
	}

	.card {
		flex-direction: column;
		column-gap: unset;
		row-gap: 50px;
	}

	.card-desc h2 {
		color: rgb(146, 146, 146);
		margin-top: 0;
		margin-bottom: 10px;

		text-align: center;
	}

	.card-desc a {
		color: inherit;
		text-decoration: none;
		margin: 0 10px;
	}

	.card img {
		border-radius: 500px;
		width: 200px;
	}

	.quotation {
		margin-left: 15px;
	}

	.statement {
		padding-left: 10%;
		padding-right: 10%;
	}

	.product-title {
		align-items: center;
		justify-content:flex-start;
		padding-left: 20px;
		margin-bottom: 40px;
	}

	.email {
		font-style: italic;
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		font-size: 18px;
	}

	.email img {
		width: 15px;
		border-radius: 0px;
	}

	table {
		width: 100%;
		overflow-x: hidden;
		margin-left: auto;
		margin-right: auto;
	}

	.schema-container {
		display: flex;
		justify-content: unset;
		flex-direction: column;
		align-items: center;
		column-gap: unset;
		row-gap: 50px;
		margin-top: 50px;
	}

	.schema-caption {
		margin-left: 10%;
		margin-right: 10%;
		text-align: justify;
		font-size: var(--default-caption-font-size);
	}

	.schema-container hr {
		display: block;
		margin: 0px;
		padding: 0px;
	}

	.schema img {
		max-width: 300px;
	}
}
